<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns:context="http://www.springframework.org/schema/context"
	xmlns:remoting="http://www.opensourceforce.org/schema/remoting"
	xsi:schemaLocation="http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context http://www.springframework.org/schema/context/spring-context-3.1.xsd
		http://www.opensourceforce.org/schema/remoting http://www.opensourceforce.org/schema/remoting/spring4me-remoting.xsd">
	
	<bean id="rmiProxyFactoryBean" class="org.springframework.remoting.rmi.RmiProxyFactoryBean" abstract="true">
        <property name="lookupStubOnStartup">
            <value>false</value>
        </property>
        <property name="refreshStubOnConnectFailure">
            <value>true</value>
        </property>
        <property name="cacheStub">
            <value>false</value>
        </property>
        <property name="serviceUrl">
        	<value>rmi://127.0.0.1:1199</value>
        </property>
    </bean>
	
	<remoting:autoImporter base-package="org.osforce.spring4me.support" importer="rmiProxyFactoryBean" />
	
</beans>
